<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Inventario</title>
    </head>
    <body>
        <h1>Inventario</h1>
        <a href="/">Ir a Home</a>

        <form id="itemForm">
            <input
                type="text"
                id="nombre"
                placeholder="Nombre del objeto"
                required
            />
            <input
                type="number"
                id="cantidad"
                placeholder="Cantidad"
                required
            />
            <button type="submit">Guardar en la Nube</button>
        </form>

        <ul id="lista"></ul>

        <script>
            const form = document.getElementById("itemForm");
            form.addEventListener("submit", async (e) => {
                e.preventDefault();

                const data = {
                    nombre: document.getElementById("nombre").value,
                    cantidad: document.getElementById("cantidad").value,
                };

                const respuesta = await fetch("/nuevo-item", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data),
                });

                alert(await respuesta.text());
            });

            const lista = document.getElementById("lista");

            async function showData() {
                lista.innerHTML = "";
                const resultados = await fetch("/get-items");
                const datos = await resultados.json();
                datos.forEach((element) => {
                    lista.innerHTML += `
                    <li>
                        <span>${element.nombre}</span>
                        <span>${element.cantidad}</span>
                        <button id="${element.nombre}" onclick="deleteItem(event)">Borrar</button>
                    </li>`;
                });
            }

            async function deleteItem(e) {
                await fetch("/borrar-item", {
                    method: "DELETE",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ mensaje: e.target.id }),
                });
            }

            showData();
        </script>
    </body>
</html>
