:root {
    --keep-light-bg: #ffffff; /* Fondo principal blanco */
    --keep-light-surface: #ffffff; /* Superficie de la nota */
    --keep-light-border: #e0e0e0; /* Gris muy tenue para bordes */
    --keep-light-text-main: #202124; /* Negro carbón para lectura fácil */
    --keep-light-text-sec: #5f6368; /* Gris para descripciones */
    --keep-light-shadow: rgba(0, 0, 0, 0.1);
}

.keep-white {
    background-color: var(--keep-light-bg) !important;
}

.keep-yellow {
    background-color: #fff475 !important;
}

.keep-border {
    border-bottom: 1px solid lightgray !important;
}

html {
    font-size: 18px;
}

/* body {
    background-color: #202124 !important;
    color: #e8eaed !important;
}

.keep-card {
    background-color: #202124 !important;
    border: 1px solid #5f6368 !important;
    border-radius: 8px !important;
    transition: box-shadow 0.2s;
}

.keep-card:hover {
    box-shadow:
        0 1px 2px 0 rgba(0, 0, 0, 0.6),
        0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

.keep-link {
    color: #8ab4f8 !important;
    text-decoration: none;
    font-weight: 500;
} */
